<template>
  <main>
    <h1>About</h1>

    <ul>
      <li>https://github.com/raneio/free-sketch-map-marker/tree/master/svg</li>
    </ul>
  </main>
</template>

<script>
export default {};
</script>

<style>
</style>