<template>
  <main>
    <CounterLoopsMap
      v-if="counterLoops"
      v-bind:counter-loops="counterLoops"
      v-bind:counter-loop-groups="counterLoopGroups"
      v-bind:counter-loop-selected="id"
    />

    <h1 v-if="title">{{title}} ({{datasets.join(' - ')}})</h1>

    <section class="controls">
      <input type="radio" v-model="step" value="hour" id="hour" />
      <label for="hour">Heure</label>
      <input type="radio" v-model="step" value="day" id="day" />
      <label for="day">Jour</label>
      <input type="radio" v-model="step" value="week" id="week" />
      <label for="week">Semaine</label>
      <input type="radio" v-model="step" value="month" id="month" />
      <label for="month">Mois</label>
    </section>

    <zingchart v-if="!loading" :data="chartConfig" />
    <section v-if="loading" class="loading">Chargement des données en cours...</section>
  </main>
</template>

<script>
import axios from "axios";
import CounterLoopsMap from "@/components/CounterLoopsMap.vue";
import zingchartVue from "zingchart-vue";
import { compareAsc, parseISO, startOfWeek, startOfMonth, addHours, startOfDay } from "date-fns";

const hasNextPage = function(data) {
  return !!data.links.find(link => link.rel === "next");
};

const groupBy = function(xs, key) {
  return xs.reduce(function(rv, x) {
    var v = key instanceof Function ? key(x) : x[key];
    (rv[v] = rv[v] || []).push(x);
    return rv;
  }, {});
};

const groupByDay = function(array) {
  return groupBy(array, elem =>
    startOfDay(elem.date)
  );
};

const groupByWeek = function(array) {
  return groupBy(array, elem =>
    startOfWeek(elem.date, {
      weekStartsOn: 1
    })
  );
};

const groupByMonth = function(array) {
  return groupBy(array, elem => startOfMonth(elem.date));
};

const aggregateByHour = serie => serie;

const aggregateByDay = serie => 
  Object.values(groupByDay(serie)).map(day => {
    return {
      total: day.reduce((a, b) => {
        return (a || 0) + (b.total || 0);
      }, 0),
      date: startOfDay(day[0].date),
      text: day[0].text
    }
  });

const aggregateByWeek = serie =>
  Object.values(groupByWeek(serie)).map(week => {
    return {
      total: week.reduce((a, b) => {
        return (a || 0) + (b.total || 0);
      }, 0),
      date: startOfWeek(week[0].date, {
        weekStartsOn: 1
      }),
      text: week[0].text
    };
  });

const aggregateByMonth = serie =>
  Object.values(groupByMonth(serie)).map(month => {
    return {
      total: month.reduce((a, b) => {
        return (a || 0) + (b.total || 0);
      }, 0),
      date: startOfMonth(month[0].date),
      text: month[0].text
    };
  });

const aggregates = {
  hour: aggregateByHour,
  day: aggregateByDay,
  week: aggregateByWeek,
  month: aggregateByMonth
};

const dateDisplay = {
  hour: "%dd/%mm/%y à %H:%i",
  day: "%dd/%mm/%y",
  week: "%dd/%mm/%y",
  month: "%M"
};

export default {
  components: {
    CounterLoopsMap,
    zingchart: zingchartVue
  },
  props: {
    id: String
  },
  data() {
    return {
      counterLoopData: [],
      counterLoops: [],
      counterLoopGroups: [
        { label: "3 Continents", datasets: ["0977", "0979"] },
        { label: "50 Otages", datasets: ["0786", "0785"] },
        { label: "50 Otages", datasets: ["0788", "0787"] },
        { label: "Avenue de la Libération ", datasets: ["0950", "0949"] },
        { label: "Bd Malakoff vers Gare Sud", datasets: ["0679"] },
        { label: "Bd Malakoff", datasets: ["0948", "0947"] },
        { label: "Bonduelle", datasets: ["0665", "0664"] },
        { label: "Calvaire", datasets: ["0744", "0745"] },
        { label: "Ceineray", datasets: ["0994", "0995"] },
        { label: "Chemin de halage Tortière", datasets: ["0747", "0746"] },
        { label: "De Gaulle sortie Clémenceau", datasets: ["0669", "0668"] },
        { label: "Entrée pont Audibert", datasets: ["0667", "0847"] },
        { label: "Kennedy", datasets: ["0988", "0989"] },
        { label: "Madeleine", datasets: ["0880", "0881"] },
        { label: "Magellan", datasets: ["0944", "0943"] },
        { label: "Magellan", datasets: ["0946", "0945"] },
        { label: "Philippot", datasets: ["0742", "0743"] },
        { label: "Pont Anne de Bretagne", datasets: ["0683", "0682"] },
        { label: "Pont Audibert vers Sud", datasets: ["0666"] },
        { label: "Pont de Pirmil vers Sud", datasets: ["0670"] },
        { label: "Pont de Pirmil vers Sud", datasets: ["0890"] },
        { label: "Pont de Pornic ", datasets: ["0672", "0673"] },
        { label: "Pont Haudaudine", datasets: ["0675", "0674"] },
        { label: "Pont Tabarly", datasets: ["0727", "0725"] },
        { label: "Pont Tabarly", datasets: ["0981", "0980"] },
        { label: "Pont Willy Brandt", datasets: ["0676", "0677"] },
        { label: "Sorinières", datasets: ["0960", "0959"] },
        { label: "Stalingrad", datasets: ["0681", "0680"] },
        { label: "Tremie", datasets: ["0987", "0986"] },
        { label: "Van Iseghem", datasets: ["0996", "0997"] }
      ],
      series: [],
      loading: true,
      datasets: [],
      title: "",
      step: "day",
      availableSteps: ["hour", "day", "week", "month"]
    };
  },
  computed: {
    chartConfig: function() {
      const colors = ["#87888a", "#d4d600"];

      const series = this.series.map((serie, index) => {
        const values = aggregates[this.step](serie).map(record => {
          return [record.date.getTime(), record.total];
        });

        return {
          values,
          text: serie[0].text,
          backgroundColor: colors[index % colors.length]
        };
      });

      return {
        type: "bar",
        scaleX: {
          step: this.step,
          transform: {
            type: "date",
            all: dateDisplay[this.step]
          },
          item: {
            fontSize: 10
          },
          maxItems: 13,
          zooming: true,
          guide: {
            alpha: 1,
            lineStyle: "solid",
            visible: true
          },
          minorTicks: 7
        },
        scrollX: {},
        preview: {},
        scaleY: {
          format: "%v",
          item: {
            fontSize: 10
          },
          guide: {
            visible: false
          }
        },
        plot: {
          stacked: true,
          stackType: "normal",
          tooltip: {
            text: "%kt : %v vélos %t",
            "font-color": "#2c3e50",
            "font-size": "12rem",
            "font-weight": "bold",
            "font-style": "normal",
            "background-color": "#FFFFFF",
            "border-width": 1,
            "border-color": "#2c3e50",
            padding: "3rem",
            callout: true
          }
        },
        series
      };
    }
  },
  methods: {
    computeSeries: async function() {
      this.loading = true;
      this.datasets = atob(this.id).split("|");
      this.title = this.counterLoopGroups.find(
        counterLoopGroup =>
          this.id === btoa(counterLoopGroup.datasets.join("|"))
      ).label;

      const whereCounterLoop = this.datasets
        .map(dataset => `boucle_num='${dataset}'`)
        .join(" or ");

      let start = 0;

      const recordsResponse = await axios.get(
        `https://data.nantesmetropole.fr/api/v2/catalog/datasets/244400404_comptages-velo-nantes-metropole/records`,
        {
          params: {
            start,
            rows: 100,
            where: `(${whereCounterLoop})`
          }
        }
      );
      let data = recordsResponse.data;
      let records = [].concat(
        data.records.map(recordWrapper => recordWrapper.record.fields)
      );

      while (hasNextPage(data)) {
        start += 100;
        const recordsResponse = await axios.get(
          `https://data.nantesmetropole.fr/api/v2/catalog/datasets/244400404_comptages-velo-nantes-metropole/records`,
          {
            params: {
              start,
              rows: 100,
              where: `(${whereCounterLoop})`
            }
          }
        );
        data = recordsResponse.data;
        records = records.concat(
          data.records.map(recordWrapper => recordWrapper.record.fields)
        );
      }

      this.series = this.datasets.map(id =>
        records
          .filter(record => record.boucle_num === id)
          .flatMap(record => {           
            const recordPerHours = [];

            ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"].forEach(key => {
              recordPerHours.push({
                total: record[key],
                date: addHours(parseISO(record.jour), parseInt(key, 10)),
                text: record.libelle
              });
            })

            return recordPerHours;
          })
          .sort((a, b) => compareAsc(a.date, b.date))
      );

      this.loading = false;
    }
  },
  async mounted() {
    let { data } = await axios.get(
      `https://data.nantesmetropole.fr/api/v2/catalog/datasets/244400404_comptages-velo-nantes-metropole-boucles-comptage/records`,
      {
        params: {
          start: 0,
          rows: 100
        }
      }
    );

    this.counterLoops = data.records
      .map(recordWrapper => recordWrapper.record.fields)
      .filter(counterLoop => !counterLoop.observations);

    this.computeSeries();
  },
  watch: {
    id() {
      this.computeSeries();
    }
  }
};
</script>

<style lang="scss" scoped>
h1 {
  text-align: center;
}

.controls {
  text-align: center;
}

.loading {
  text-align: center;
}
</style>