<template>
  <main>
    <CounterLoopsMap
      v-if="counterLoops"
      v-bind:counter-loops="counterLoops"
      v-bind:counter-loop-groups="counterLoopGroups"
    />

    <ul class="counter-loop">
      <li
        v-for="counterLoop in counterLoopGroups"
        :key="counterLoop.datasets.join()"
        @click="goToCounterLoop(counterLoop.datasets)"
      >
        <img
          style="margin-left: -12px; margin-top: -44px;"
          src="@/assets/map-marker-blue.svg"
          height="23px"
          width="12px"
        />
        {{counterLoop.label}}
      </li>
    </ul>
  </main>
</template>

<script>
import axios from "axios";
import router from "../router";
import CounterLoopsMap from "@/components/CounterLoopsMap.vue";

export default {
  components: {
    CounterLoopsMap
  },
  data() {
    return {
      counterLoopData: [],
      counterLoops: [],
      counterLoopGroups: [
        { label: "3 Continents", datasets: ["0977", "0979"] },
        { label: "50 Otages", datasets: ["0786", "0785"] },
        { label: "50 Otages", datasets: ["0788", "0787"] },
        { label: "Avenue de la Libération ", datasets: ["0950", "0949"] },
        { label: "Bd Malakoff vers Gare Sud", datasets: ["0679"] },
        { label: "Bd Malakoff", datasets: ["0948", "0947"] },
        { label: "Bonduelle", datasets: ["0665", "0664"] },
        { label: "Calvaire", datasets: ["0744", "0745"] },
        { label: "Ceineray", datasets: ["0994", "0995"] },
        { label: "Chemin de halage Tortière", datasets: ["0747", "0746"] },
        { label: "De Gaulle sortie Clémenceau", datasets: ["0669", "0668"] },
        { label: "Entrée pont Audibert", datasets: ["0667", "0847"] },
        { label: "Kennedy", datasets: ["0988", "0989"] },
        { label: "Madeleine", datasets: ["0880", "0881"] },
        { label: "Magellan", datasets: ["0944", "0943"] },
        { label: "Magellan", datasets: ["0946", "0945"] },
        { label: "Philippot", datasets: ["0742", "0743"] },
        { label: "Pont Anne de Bretagne", datasets: ["0683", "0682"] },
        { label: "Pont Audibert vers Sud", datasets: ["0666"] },
        { label: "Pont de Pirmil vers Sud", datasets: ["0670"] },
        { label: "Pont de Pirmil vers Sud", datasets: ["0890"] },
        { label: "Pont de Pornic ", datasets: ["0672", "0673"] },
        { label: "Pont Haudaudine", datasets: ["0675", "0674"] },
        { label: "Pont Tabarly", datasets: ["0727", "0725"] },
        { label: "Pont Tabarly", datasets: ["0981", "0980"] },
        { label: "Pont Willy Brandt", datasets: ["0676", "0677"] },
        { label: "Sorinières", datasets: ["0960", "0959"] },
        { label: "Stalingrad", datasets: ["0681", "0680"] },
        { label: "Tremie", datasets: ["0987", "0986"] },
        { label: "Van Iseghem", datasets: ["0996", "0997"] }
      ],
      datasets: "",
      datasetsDecoded: []
    };
  },
  methods: {
    goToCounterLoop: async function(datasets) {
      router.push({
        name: "boucle-comptage",
        params: { id: btoa(datasets.join("|")) }
      });
    }
  },
  async mounted() {
    const { data } = await axios.get(
      `https://data.nantesmetropole.fr/api/v2/catalog/datasets/244400404_comptages-velo-nantes-metropole-boucles-comptage/records`,
      {
        params: {
          start: 0,
          rows: 100
        }
      }
    );

    this.counterLoops = data.records
      .map(recordWrapper => recordWrapper.record.fields)
      .filter(counterLoop => !counterLoop.observations);
  }
};
</script>

<style lang="scss" scoped>
.counter-loop {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    width: 15rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}
</style>