<template>
  <header>
    <nav>
      <router-link to="/">Accueil</router-link>
      <router-link to="/a-propos">À propos</router-link>
    </nav>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: space-around;
}
</style>